---
import { IBike, Suspension } from "../IBike";

export interface Props {
    bike: IBike;
}

const { bike } = Astro.props;
---

<table>
    <tr><th>Dio</th><th>Naziv</th></tr>
    <tr><td>Okvir</td><td>{bike.frame}</td></tr>
    {
        bike.fork && (
            <tr>
                <>
                    <td>Vilica</td>
                    <td>{bike.fork}</td>
                </>
            </tr>
        )
    }
    <tr>
        <td>Suspezija</td>
        <td>
            {bike.suspension === Suspension.Full && "Slika full suspenzije"}
            {bike.suspension === Suspension.HardTail && "Slika full suspenzije"}
            {bike.suspension === Suspension.Rigid && "Slika full suspenzije"}
        </td>
    </tr>
</table>
