---
import { Sizes } from "../IBike";

export interface Props {
    title?: string;
    sizes: Sizes[];
}

const { title, sizes } = Astro.props;

const mainTitle = title ?? "Veličine";
---

<h1>{mainTitle}</h1>
<ul>
    {sizes.map((s) => <li>{Sizes[s]}</li>)}
</ul>
